/* =========================
   COLORES
========================= */
:root {
  --color-primary-45: #017173;
  --color-primary-30: #014D4F;
  --color-neutral-light: #FFFFFF;
  --color-background-90: #BFEFEF;
  --color-info: #007DDC;
  --color-background:#F3FCFC;
  --color-background-80:#93E4E4;
  --color-primary:#02A0A3;
}
